body {
  margin: 0;
  padding: 0;
}

#example {
	width: 25%;
	height: 25vh;
	box-sizing: border-box;
	background-color: #00FF00;
	box-sizing: border-box;
}

#example p {
	font-family: Arial; 
	font-size: 12px; 
	font-style: normal; 
	box-sizing: border-box;
}

#links {
	display: flex;
}

#links p {
	margin: 1rem;
}

.tooltip {
	padding-top: 30%;
	width: 100%;
	display: block;
}

.tooltip > p {
	margin: 0;
	text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  padding: .2rem;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
}

.bottom-left {
	position: absolute;
	z-index: 2;
	left: 80%;
	top: 80%;
	color: white;
}